.main { 
  width: 35%;
  position: absolute;
  top: 0;
}

.list_wrapper {
  list-style: none;
}

.list_item {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.item_thumbnail {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  object-fit: cover;
}

@media (max-width: 900px){
   .main {
      width: 90%;
   }
}