.btn {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.primary {
    background-color: #fff;
    color: black;
}

.secondary {
    background-color: #6c757d;
    color: white;
}

.danger {
    background-color: #dc3545;
    color: white;
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
