.menu_wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 769px) and (max-width: 1300px){
    .menu_wrapper{
        min-width: 400px;
    }
}