.main {
   width: 25%;
}

.list_wrapper { 
   padding: 0;
}

.list_item {
   listStyle: 'none';
   textAlign: 'center';
   marginBottom: '2rem';
   maxWidth: '400px';
   marginInline: 'auto';
}

.meal_thumbnail {
   width: '100px';
   borderRadius: '10px';
}